html{
    overflow-x: hidden;
    overflow-y: hidden;
}

header{
    position: fixed;
}
section{
    width: calc(100vw - 150px);
    height: 100vh;
    margin-left: 150px;
    padding-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
section>div{
    height: 40vh;
    width: 48%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
section>div>div{
    width: 45%;
    position: relative;
}
section>div>div h1{
    font-size: 90px;
}
section>div>div h2{
    position: absolute;
}
#menorIdadeI, #menorIdadeM{
    left: 30px;
}
#maiorIdadeI, #maiorIdadeM{
    right: 30px;
}
.questions{
    width: 80%;
    display: flex;
    align-items: center;
    gap:10px;
}
.questions button{
    all: unset;
    font-size: 50px;
    background-color: transparent;
    cursor: pointer;
    background: -webkit-linear-gradient(0deg, #F7768E 0%, #9AA5CE 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.exp, .real{
    width: 40%;
}
.inclusivo{
    background: -webkit-linear-gradient(0deg, #F7768E 0%, #9AA5CE 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: italic;
}
section>div:nth-child(4){
    display: flex;
    flex-direction: column;
}
section>div:nth-child(2){
    display: flex;
    flex-direction: column;
}