body {
    --sb-track-color: #1A1B26;
    --sb-thumb-color: linear-gradient(0deg,rgba(247,118,142,1)  0%, rgba(154,165,206,1)  100%);
    --sb-size: 7px;
  
    scrollbar-color: var(--sb-thumb-color) 
                     var(--sb-track-color);
}

body::-webkit-scrollbar {
  width: var(--sb-size) 
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
}
.section1, .section2, .section3{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 575px;
}

.text{
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text h1{
    background: -webkit-linear-gradient(0deg, #F7768E 0%, #9AA5CE 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
    font-size: 30px;
    font-style: italic;
    font-weight: 800;
}

.text span{
    font-size: 20px;
    font-weight: 300;
    display: block;
}

.imagem img{
    width: 600px;
}