.section1, .section2, .section3{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 575px;
}

.text{
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text h1{
    background: -webkit-linear-gradient(0deg, #9AA5CE 0%, #F7768E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
    font-size: 30px;
    font-style:italic;
    font-weight: 800;
}

.text span{
    font-size: 20px;
    font-weight: 300;
    display: block;
}

.imagem img{
    width: 600px;
}