body{
    display: flex;

    --sb-track-color: #1A1B26;
    --sb-thumb-color: linear-gradient(0deg,rgba(247,118,142,1)  0%, rgba(154,165,206,1)  100%);
    --sb-size: 7px;
  
    scrollbar-color: var(--sb-thumb-color) 
                     var(--sb-track-color);
}

body::-webkit-scrollbar {
  width: var(--sb-size) 
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
}
header{
    position: fixed;
}
section{
    padding-left: 150px;
    display: flex;
    flex-direction: column;
    
}
.content{
    height: 100vh;
    width: calc(100vw - 160px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content img{
    width: 600px;
    border-style: solid;
    border-width: 3px;
    border-image: linear-gradient(90deg,rgba(247,118,142,1)  0%, rgba(154,165,206,1)  100%) 1;
}
.content span{
    text-align: center;
    padding: 0 20% 0 20%;
}