*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #CFC9C2;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
body{
    display: flex;
    align-items: center;
}
section{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
section h1{
    background: -webkit-linear-gradient(0deg, #F7768E 0%, #9AA5CE 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    font-size: 30px;
    font-style: italic;
    text-align: center;
}
section .answer{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
section .answer input{
    margin-right: 5px;
    background-color: transparent;
    text-align: center;
}
section .answer input, span{
    margin-bottom: 25px;
    font-size: 18px;
}
section .answer select{
    background-color: transparent;
    text-align: center;
    font-size: 18px;
}
section .answer select option{
    background-color: #1A1B26;
}
input[type="date"]::-webkit-calendar-picker-indicator{
    filter: invert(83%) sepia(73%) saturate(29%) hue-rotate(342deg) brightness(87%) contrast(87%);;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
section button{
    width: 93px;
    height: 39px;
    border-radius: 10px;
    background-color: #BB9AF7;
    background-image: url(../assets/imgs/Arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
}
section .answer input:focus, button:focus, select:focus{
    outline: none;
}